@import url("https://fonts.google.com/specimen/Nunito+Sans");
:root {
    --DarkBlueElements: hsl(209, 23%, 22%);
    --VeryDarkBlueBackground: hsl(207, 26%, 17%);
    --VeryDarkBlueText: hsl(200, 15%, 8%);
    --DarkGrayLightInput: hsl(0, 0%, 52%);
    --VeryLightGrayBackground: hsl(0, 0%, 98%);
    --WhiteDarkModeTextLightModeElements: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: var(--WhiteDarkModeTextLightModeElements);
    box-shadow: 10px 12px 18px 0px rgba(112, 112, 112, 0.63);
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 30px;
}

.btn-dark-mode {
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: var(--WhiteDarkModeTextLightModeElements);
}

.btn-dark-mode .fas {
    display: none;
}


/* Modo Dark*/

body.dark .btn-dark-mode .fas {
    display: inline-block;
}

body.dark .btn-dark-mode .far {
    display: none;
}


/*Input Styling*/

.search {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    border-radius: 7px;
    border: none;
    min-width: 300px;
    box-shadow: 10px 12px 18px 0px rgba(112, 112, 112, 0.63);
}


/*Dropdown Styling*/

.dropdown {
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 10px 12px 18px 0px rgba(112, 112, 112, 0.63);
    position: relative;
    cursor: pointer;
}

.dropdown .fa-chevron-down {
    margin-left: 10px;
}

.dropdown ul {
    font-size: 16px;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px 12px 18px 0px rgba(112, 112, 112, 0.63);
    position: absolute;
    left: 0px;
    top: 100%;
    list-style-type: none;
    width: 100%;
    display: none;
}

.dropdown .open ul {
    display: block;
}

.dropdown ul li {
    margin: 5px 0
}


/* Country Design */

.country {
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 10px 12px 18px 0px rgba(112, 112, 112, 0.63);
    overflow: hidden;
    cursor: pointer;
    max-width: 300px;
    margin: 40px;
}

.country-body {
    padding: 30px;
}

.country-body h2 {
    margin-top: 0;
}

.container.countries {
    justify-content: center;
}